<!DOCTYPE html>
<html>
  <head>
    <title>Chief's Wooden Wonders</title>
    <%= csrf_meta_tags %>
    <!-- Load Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!-- Load Icons -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Chief's Wooden Wonders</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Gallery</a></li>
          <li><a href="#">For Sale</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
